{% extends "layout.html" %}
{% set active_page = "books" %}
{% block content %}
<div class="content-section mx-5">
    <form method="post" action="">
        {{form.hidden_tag()}}
        <fieldset class="form-group">
             <div class="form-group">
                 {{form.id.label(class="form-control-label")}}
                 {{form.id(class="form-control form-control", readonly=true)}}
            </div>
            <div class="form-group">
                {{form.name.label(class="form-control-label")}}
                {% if form.name.errors %}
                    {{form.name(class="form-control form-control is-invalid")}}
                    <span class="invalid-feedback" id="name_error">
                        {% for error in form.name.errors %}
                            {{error}}
                        {% endfor %}
                    </span>
                {% else %}
                    {{form.name(class="form-control form-control")}}
                {% endif%}
            </div>
            <div class="form-group">
                {{form.author.label(class="form-control-label")}}
                {% if form.author.errors %}
                    {{form.author(class="form-control form-control is-invalid")}}
                    <span class="invalid-feedback" id="author_error">
                        {% for error in form.author.errors %}
                            {{error}}
                        {% endfor %}
                    </span>
                {% else %}
                    {{form.author(class="form-control form-control")}}
                {% endif%}
            </div>
           <div class="form-group">
                {{form.description.label(class="form-control-label")}}
                {{form.description(class="form-control form-control")}}
            </div>
            <div class="form-group">
                {{form.cover.label(class="form-control-label")}}
                {{form.cover(class="form-control form-control")}}
            </div>
        </fieldset>
        <div class="form-group">
            {{form.save(class="btn btn-primary")}}
            <a class="btn btn-link" id="back" href="{{url_for('books.get_all_books')}}">Cancel</a>
        </div>
    </form>
</div>
{% endblock content %}